.services { 
    padding-top: 151px;
    padding-bottom: 150px;  
    background-color: #121212;
}

.services h2 {
    padding-bottom: 31px;
    color: #FFFFFF;
}

.services h3 {
    font-size: 30px;
    line-height: 40px;
}

.services__price {
    padding-bottom: 60px;
}

.services__price:last-child {
    padding-bottom: 0px;
}

.services__image {
    margin-bottom: 15px;
}

.services__description {
    color: #FFFFFF;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
}

.services-box {
    width: calc(50% - 5.5px);
}

@media (max-width: 1199px) {
    .services-box {
        width: calc(50% - 5px);
    }
}

@media (max-width: 767px) {

}